In [1]:
import pandas as pd
import numpy as np

import partridge as ptg
import peartree as ptr

from commons import *

In [2]:
src = GTFS_PATH_OTHER
feed_id = 1139
start_time, end_time = 7*3600, 20*3600
graph_name = "DB"


feed_path = os.path.join(src, f'{feed_id}.zip')
feed = ptr.get_representative_feed(feed_path)
feed

In [3]:
g = ptr.load_feed_as_graph(feed, start_time, end_time, name=graph_name)

In [4]:
graph_to_data(g)

(            boarding_cost
 node_id
 DB_8000262           1800
 DB_8013456           1800
 DB_8004610           1800
 DB_8002757           1800
 DB_8000290           1800
 ...                   ...
 DB_8000732           1800
 DB_8000078           1800
 DB_8010195           1800
 DB_8100013           1800
 DB_8000194           1800

 [475 rows x 1 columns],
                             length     mode
 source     target
 DB_8000262 DB_8000261   525.000000  transit
            DB_8000320  1675.714286  transit
            DB_8004158   660.000000  transit
 DB_8013456 DB_8000159  1620.000000  transit
            DB_8010195  1560.000000  transit
 ...                            ...      ...
 DB_8100013 DB_8100008  2811.428571  transit
            DB_8100002  3960.000000  transit
            DB_8100014   780.000000  transit
 DB_8000194 DB_8000057   840.000000  transit
            DB_8000197  1860.000000  transit

 [1179 rows x 2 columns])

In [6]:
pd.DataFrame.from_dict(dict(g.nodes(data=True)), orient='index')

            boarding_cost modes          y          x                   name
DB_8012762           1800   [2]  54.251015  12.487015  Ribnitz-Damgarten Ost
DB_8000260           1800   [2]  49.801795   9.935777           Würzburg Hbf
DB_8000303           1800   [2]  49.723499   6.518204               Igel(Gr)
DB_8010050           1800   [2]  51.622857  12.316849             Bitterfeld
DB_8601878           1800   [2]  55.692705  12.587613          Oesterport st
...                   ...   ...        ...        ...                    ...
DB_8000181           1800   [2]  54.472275   9.055023                  Husum
DB_8000050           1800   [2]  53.083478   8.813833             Bremen Hbf
DB_8013025           1800   [2]  50.868212  11.722788              Stadtroda
DB_8000320           1800   [2]  47.850021  12.119203              Rosenheim
DB_8601309           1800   [2]  55.672722  12.564618           Koebenhavn H

[475 rows x 5 columns]